/*NAVBAR*/
.navbar {
    border: 2px solid black;
}

.nav-home {
    border: white 2px solid;
}

.login {
    color: skyblue;
    position: relative;
    width: 30%;
    height: 10%;
    margin: auto;  
}

.search {
    color: skyblue;
    position: relative;
    width: 30%;
    height: 10%;
    margin: auto;  
}

/*YELP RESULTS*/
.yelp-results-btn {
    background-color: skyBlue; /* Green */
    border: black 1px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*EVENT RESULTS */
.eventbrite-results-btn {
    background-color: gray; /* Green */
    border: black 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.yelp-result-img {
    size: relative;
    height:12em;
    width: 12em;
}

/* AGENDA RESULTS ATTRACTIONS*/
.att-results {
    background-color: skyBlue; /* Green */
    border: black 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* EVENT RESULTS ATTRACTIONS*/
.event-results {
    background-color: grey; /* Green */
    border: black 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.eventbriteSearchImg {
    size: relative;
    height:12em;
    width: 12em;
}

.btn {
    background-color: skyblue;
}

#map {
    height:300px;
}


