<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="favicon.ico"/>


<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Bootstrap CSS template -->
<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">        
<link href="static/css/style.css" rel="stylesheet" type="text/css"/>
<!-- JQuery -->
<link href="static/css/jquery-ui.structure.min.css" rel="stylesheet" type="text/css"/>
<link href="static/css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
<script src="http://code.jquery.com/jquery.js"></script>
<!-- Bootstrap post JQ -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
<!-- calendar -->
<link rel='stylesheet' href='static/fullcalendar.css' />
<script src='static/moment.min.js'></script>
<script src='static/fullcalendar.js'></script>
<script src='static/script.js'></script>
<!-- My CSS -->
<link rel="stylesheet" href="static/style.css">
<!-- Font Awesome -->
<script src="https://use.fontawesome.com/8ba551412d.js"></script>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<!-- google fonts -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>



<title>Wanderful</title>
</head>

<body class="style-2" data-color="theme-3">
     <div class="style-page">
        <div class="wrappers"> </div>
            <a href="homepage.html" class="site-logo"><img src="static/img/theme-1/logo_dark.png" alt=""></a>
            <div class="color-block">
            </div>
            <div class="color-block">
            <div class="check-option active"><span class="rounded"></span></div>
            <div class="check-option"><span class="norounded"></span></div>
            </div>
            <div class="color-block">
            <div class="header-style"> 
            </div>  
            </div>
            <div class="color-block"> 
            </div>
    </div> 
  
   
<div class="loading orange">
  <div class="loading-center">
    <div class="loading-center-absolute">
      <div class="object object_four"></div>
      <div class="object object_three"></div>
      <div class="object object_two"></div>
      <div class="object object_one"></div>
    </div>
  </div>
</div>

<!--Navigation Bar-->
<header class="color-1 hovered menu-3">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="nav"> 
              <img class="logo-img" src="static/images/logo1.gif" src="/" alt="Wanderful">
               </a>
                <div class="nav-menu-icon">
                 <a href="#"></a>
                </div>
                <nav class="menu">
                <ul>
                {% if "user_id" in session %}
                 <li class="type-1 active">
                <a href="/">home<span class="glyphicon glyphicon-home"></span></a></li>
                <li class="type-1"><a href="/my_agenda"> saves<span style="color:skyblue"class="glyphicon glyphicon-heart"></span></a></li>
                <li class="type-1"><a href="/logout">Logout<span style="color:skyblue" class="glyphicon glyphicon-log-out"></span></a></li>
                {% else %}
                <li class="type-1"><a href="/">Home<span class="glyphicon glyphicon-home"></span></a></li>
                <li class="type-1"><a href="#" data-toggle="modal" data-target="#myModal">Login<span class="fa fa-angle-down"></span></a></li>
                
                <li class="type-1"><a href="#" data-toggle="modal" data-target="#my1Modal">Register<span class="fa fa-angle-down"></span></a></li>
                {% endif %}

      

                </ul>      
              </nav>
            </div>
         </div>
      </div>
   </div>
</header>



{% block content %}



{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}


    Put your body here.
{% endblock %}

<!-- <div class="copyright">
<span>&copy; 2016 All rights reserved. WANDERFUL</span>
</div>
 -->

<script src="static/js/idangerous.swiper.min.js"></script>
<script src="static/js/jquery.viewportchecker.min.js"></script>
<script src="static/js/isotope.pkgd.min.js"></script>
<script src="static/js/jquery.mousewheel.min.js"></script>
<script src="static/js/all.js"></script>
</body>
</html> 
