{% extends 'base.html' %}
{% block content %}

<!-- AUTOCOMPLETE API -->
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">


<!-- <script src="http://code.jquery.com/jquery-1.10.2.js"></script> -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<!-- Calendar API -->
<script type="text/javascript">
    var datefield=document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n') 
    }
</script>


    </head>
<!-- datepicker widget -->
<script>
if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
    jQuery(function($){ //on document.ready
        $('#date').datepicker();
    });
}

</script>


<!-- Modal to LOGIN -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <div class="container">
        <div class="login">
          <form action="/login" method="POST">
            <label class="modal-info">Email:
                <input class="modal-input" type="text" name="email">
            </label>
            <label class="modal-info">Password:
                <input class="modal-input" type="password" name="password">
            </label><br><br>
            <input class="modal-info" type="submit" value="Log In" class="login">
          </form>
        </div>
      </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<!-- Modal to Register -->
<div class="modal fade" id="my1Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
          </div>
            <div class="modal-body">
            <div class="container">
              <form action="/register" method="POST">
              <label>
                Email
                <input type="email" name="email" class="form-control">
                </label><br>
                  <label>
                  Password
                  <input type="password" name="password" class="form-control">
                    </label><br>
                    <label>
                      Firstname
                      <input type="text" name="firstname" class="form-control">
                      </label><br>
                      <label>
                      Lastname
                      <input type="text" name="lastname" class="form-control">
                    </label><br>
                    <label>
                    Phone
                  <input type="integer" name="phone" class="form-control">
                  </label><br>
                <label>
              Zipcode
            <input type="integer" name="zipcode" class="form-control">
          </label><br>
          <input class="modal-info" type="submit" value="Submit">
          </form>
          </div>
        </div>
        <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<body class="home">
    <div class="container" style="background-image:url(static/img/bridgebokeh.jpg);background-size:100%; top right no-repeat; background-attachment:fixed; opacity:0.95; filter:Alpha(opacity=80);">
            <div class="search">
                 <script>
                   $(function() {
                      var locations = [
                       "Amsterdam",
                       "Barcelona",
                       "San Francisco",
                       "Oakland",
                       "Napa",
                       "Chicago",
                       "Sydney",
                       "New York",
                       "California",
                       "Miami",
                       "Berkeley",
                       "Boston",
                       "Paris",
                       "Berlin",
                       "Los Angeles",
                       "San Diego",
                       "Austin",
                       "Portland",
                       "Seattle",
                       "Salem",
                       "Rome",
                       "Italy",
                       "New Orleans",
                       "Madrid",
                       "Cape Town"
                      ];
                        $( "#location" ).autocomplete({
                         minLength:3,
                        delay: 400,
                       source: locations
                    });
                 });
              </script>
         

      
      <div class="vertical-align">
        <div class="container">
              <div class="main-title">
             <!--    <header> -->
                <h1 id="title">Wanderful</h1>
              <!-- </header> -->
                  <p class="tag">Wander your way.</p>
                    <div class="row">
                        <div class="input-style-1 ">
                          <form action="/process_search" method="GET">
                            <div class="info-parent">
                              <div class="info-holder">


                                    <input style="background-color:#A0CBEE; color:black; opacity: 0.7;" type="text" id="location" placeholder="Enter a location:" name="location">
                                    </div>

                                <div class="info-holder">
                                  
                                  <input style="background-color:#A0CBEE; color:black; opacity: 0.7;" type="date" placeholder="Enter a date:" id="date" name="date">
                                </div>
                                <div class="parent-submit">
                                <div class="submit">
                                  <input class="c-button b-60 bg-white hv-orange" id="submit-search" type="submit" value="search now"/>
                               </div>
                              </div>
                              </div>
                          </form>
                         </div>
                        </div>     
                      </div>
                </div>
              </div>
  </div>


     <script>
          var autocomplete = new google.maps.places.Autocomplete(input);
           var input = $('#user-textbox')[0]
      </script>

{% endblock %}