{% extends 'base.html' %}
{% block content %}

<script>
$(document).ready(function(){

    $.get('/calendar', function(event_result) {
      $('#calendar').fullCalendar(event_result);
    });

});

</script>


<h1>Agenda</h1>

{% if userattractions %}
    <h1>Your saved attractions: </h1>
    {% endif %}

        {% for item in userattractions %}
            <div class="att-results-agenda" data-id="{{ item.attraction.attraction_id }}">

            <h4>{{ item.attraction.name }} </h4>


            <button class="delete-att" data-id="{{ item.attraction.attraction_id }}" style="color:skyblue"> Delete </button>
            </div>
        {% endfor %}
<br>
<br>
<br>

<!-- {% if userevents %}
    <h1>Your saved events: </h1>
{% endif %} -->


{% for item in userevents %}
    <div class="ev-results-agenda" data-id="{{ item.event.event_id }}">
       
       <h4> {{ item.event.name }} </h4>
        {{ item.event.start.strftime('%m/%d/%Y') }}

        <button class="delete-ev" data-id="{{ item.event.event_id }}" style="color:skyblue"> Delete </button>

<form action="/twilio" method="POST">
    <input type="text" name="message">
    <button style"color:blue" type="submit" value="submit">Text me and remind me of {{ item.event.name }} </button>
</form>
        </div><br>
{% endfor %}
<div>
<div id='calendar'></div>


{% endblock %}

