{% extends 'base.html' %}
{% block content %}


<h1>Agenda</h1>

{% if userattractions %}
    <h1>Your saved attractions: </h1>
    {% endif %}

        {% for item in userattractions %}
            <div class="att-results" data-id="{{ item.attraction.attraction_id }}">

            <h4>{{ item.attraction.name }} </h4>


            <button id="delete-att" data-id="{{ item.attraction.attraction_id }}" style="color:skyblue"> Delete </button>
            </div>
        {% endfor %}
<br>
<br>
<br>

<!-- {% if userevents %}
    <h1>Your saved events: </h1>
{% endif %} -->


{% for item in userevents %}
    <div class="event-results" data-id="{{ item.event.event_id }}">
       
       <h4> {{ item.event.name }} </h4>
      

        <button id="delete-ev" data-id="{{ item.event.event_id }}" style="color:skyblue"> Delete </button>
        </div>
{% endfor %}

<script src="/static/script.js"></script>


<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=veronica%40ellenblakeley.com&amp;color=%2329527A&amp;ctz=America%2FLos_Angeles" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}

